

<div class="page-content full-recipe col-md-10">
  <h2 class="page-title"><%= @recipe.name %></h2>
  <div class="row">
  <section class="ingredients well item">
    <div class="img-thumbnail"><img src="<%= @recipe.img_path %>" alt="<%= @recipe.name %>" title="<%= @recipe.name %>"></div>
    <h3>Ingredients</h3>
    <ul class="ingredient-list">
      <% @ingredients.each do |ingredient| %>
        <li class="ingredient"><%= ingredient.name %></b></li>
      <% end %>
    </ul>
  </section>
</div>
  <% if user_signed_in? %>
  <div class="row">
    <section class="add-options well">
  <section class="add-to-schedule">
    <%= form_tag("/users/#{current_user.id}/scheduled_recipes/#{@recipe.id}", class: "form", method: 'post') do %>
      <%= select_tag(:day, options_for_select([['Monday', 'monday'], ['Tuesday', 'tuesday'], ['Wednesday', 'wednesday'], ['Thursday', 'thursday'], ['Friday', 'friday'], ['Saturday', 'saturday'], ['Sunday', 'sunday']])) %>
      <%= submit_tag("Add to My Week",class: "btn btn-info") %>
    <% end %>
  </section>


    <section class="add-to-grocery-list">
      <%= link_to("Add to Grocery List", user_grocerylists_path(current_user.id,  recipe_id: @recipe.id), method: 'post',class: "btn btn-success") %>
    </section>
    <% end %>
    </section>
    <section class="instructions">
      <h3>Prep Instructions: </h3>
      <p>Find the full instructions for <a href="<%= @recipe.directions %>" target="_blank"><%= @recipe.name %> at <%= @instructions_domain %></a></p>

  </section>
  <% if @nutrition_info %>
     <div class="row">
      <div class="col-md-6 well">
    <section class="nutrition-info">

      <h3 id="nutrition-title">Nutrition Information</h3>


        <table class="table table-striped table-bordered table-condensed nutrition-info-table"><tbody>
                    <tr><th colspan="2"><p><b>Servings</b>: <%= @recipe.serving_size %> </p>
      <h4>Per Serving:</h4></th></tr>
          <tr class="headers"><th>Ingredient</th><th>Amount</th></tr>

       <% @nutrition_info.each do |nutrient| %>
       <tr>
        <th><%= nutrient.name.capitalize %></th><td><%= nutrient.value.round(2) %><%= nutrient.unit %></td>
      </tr>
       <% end %>
     </tbody></table>
  </section>
</div>
      <div class="col-md-6 well">
        <h4>Health Labels</h4>
        <aside class="tags"></aside>
        <div id="tags">
         <% @health_labels.each do |label| %>
           <div class="health-label">
            <%= label.label_name %>
          </div>
         <% end %>
       </div>
     </aside>
   </div>
 </div>
   <% end %>



  </section>
</div>
